.mainFxmlClass {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.side-menu {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #34495e;
}

#header {
    -fx-background-color: #3498db;
    -fx-alignment: center-left;
    -fx-border-radius: 5;
}

#header Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
#header .lblDateTime{
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignement: center;
}
#btnHamburger {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#container {
    -fx-background-color: #ecf0f1;
    -fx-padding: 2;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}
/* dashboardmedecin.css */

.mainFxmlClass {
    -fx-background-color: #f4f4f4;
}

.side-menu {
    -fx-background-color: #2c3e50;
    -fx-padding: 10px;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #34495e;
}

.logo-image {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 5);
    -fx-padding: 20px 0;
}
