/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #f5f5f5;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-padding: 8px 15px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.label {
    -fx-font-size: 16px;
    -fx-padding: 5px 0;
}

.table-view {
    -fx-border-color: #ddd;
    -fx-border-radius: 10px;
    -fx-background-color: #fff;
}

.text-field, .combo-box, .date-picker {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.image-view-rounded {
    -fx-background-color: yellow;
    -fx-border-color: #ccc;        /* Couleur de la bordure */
    -fx-border-width: 2px;         /* Épaisseur de la bordure */
    -fx-border-radius: 10px;       /* Rayon de la bordure */
    -fx-background-radius: 10px;   /* Rayon du fond pour correspondre à la bordure */
    -fx-padding: 5px;              /* Espace entre l'image et la bordure */
}

.test-style {
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}