/*
 * Empty Stylesheet file.
 */

/* styles.css */
/* fichepatient.css */

.mainFxmlClass {
    -fx-background-color: #f4f4f4;
    -fx-padding: 5px;
}

.bordered-vbox {
    -fx-border-color: #c3c3c3;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 1px;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field, .combo-box, .date-picker, .text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #c3c3c3;
    /*-fx-border-radius: 5px;*/
    /*-fx-padding: 5px;*/
    -fx-font-size: 14px;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
/*    -fx-border-radius: 5px;*/
    -fx-background-radius: 3px;
    /*-fx-padding: 10px 20px;*/
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}

#btnClose {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#btnClose .image-view {
    -fx-fit-height: 20px;
    -fx-fit-width: 20px;
}
