/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#lblTotal {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
    -fx-padding: 10px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 2px;
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 5px;
}

